<h1>{{pirates.length}} Famous Pirates of the high seas!</h1>
<a href="priates/new">Add another scourge of the seas</a>

<ul>
    {{#each pirates}}
        <li>name: <a href="/pirates/{{@index}}">{{name}}</a></li>
        <li>birthplace: {{birthplace}}</li>
        <li>death year: {{death_year}}</li>
        <li>base: {{base}}</li>
        <li>nickname: {{nickname}}</li>
        <br>
    {{/each}}
<ul>

<h3>Arrrr!</h3>