<h2>Pirates</h2>

<h3>name: {{name}}</h3>
<h3>birthplace: {{birthplace}}</h3>
<h3>death year: {{death_year}}</h3>
<h3>base: {{base}}</h3>
<h3>nickname: {{nickname}}</h3>

<a href="/pirates">Back to the main page with yeh!</a>
