<h2>Pirates</h2>

<h3>name: {{pirates.name}}</h3>
<h3>birthplace: {{pirates.birthplace}}</h3>
<h3>death year: {{pirates.death_year}}</h3>
<h3>base: {{pirates.base}}</h3>
<h3>nickname: {{pirates.nickname}}</h3>

<a href="/pirates">Back to the main page with yeh!</a>
