<h1> Todos </h1>
<h3>You have {{todos.length}} things to do.</h3>
<ul>
  {{#each todos}}
    <li>Description: <a href="/todos/{{@index}}">{{description}}</a></li>
    <li>Urgent: {{urgent}}</li>
    <form method="POST" action="/todos/{{@index}}?_method=DELETE">
      <button>DELETE</button>
    </form>
    <br>
  {{/each}}
</ul>

<a href="./new/">Add a new item</a>
